/* ************************************************************************************ */
/* Body                                                                               */
/* ************************************************************************************ */

body {
  background: 
    -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 76%);
}

/* ************************************************************************************ */
/* Header                                                                               */
/* ************************************************************************************ */

#menu{
	background-color: #262626;
	height: 50px;
}

#menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

#menu li{
	display: inline-block;
}

#menu a{
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 50px;
	color: #ffffff;

	padding: 0 20px;
	border: none;
	display: block;
}


/* ************************************************************************************ */
/* Button                                                                               */
/* ************************************************************************************ */

 .button{
  background-color: #262626;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* ************************************************************************************ */
/* Table                                                                               */
/* ************************************************************************************ */

#table{
  border: 1px solid #ddd;
  padding: 8px;
  background-color:  #ffffff;

}

